td, th, table{
    border: 2px black solid;
}

table {
    background-color: #BF3B3B;
    margin: 20px;
}

td, th{
    background-color: #548C8C;
    padding: 5px 20px;
    width: 15%;
    font-size: 20px;
    text-align: center;
}

img {
    width: 140pt;
    height: 180pt;
}

button, select, input{
    font-size: 25px;
    margin: 10px;
}

h1 {
    text-align: center;
    background-color: #EDF2EB;
    padding: 25px;
}

body {
    background-color: #3D6D73;
}

.borde {
    border: 2px solid #1D2426;
    display: inline;
    padding: 10px;
    padding-top: 20px;
    margin: 5px;
}

#contenedor {
    text-align: center;
}

label {
    font-size: larger;
    font-weight: bold;
}

.oculto {
    display: none;
}

#usuario {
    font-size: x-large;
    font-weight: bold;
    color: #EDF2EB;
}

.warning {
    font-size: x-large;
    font-weight: bold;
    color: red;
}